
<header id="encabezado" style="background-color: cornflowerblue;" class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 style="color: bisque; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" class="display-4 fw-bolder">PAGINAS Y TINTAS</h1>
            <p  tclass="lead fw-normal text-white-50 mb-0">Tenemos los mejores libros para ti</p>
        </div>
    </div>
</header>
<section class="py-5" >
<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4" >
        <div class="col mb-5" *ngFor="let lib of myLibroDetalle$ | async">
            <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" [src]="lib.imagen"  width="520" height="300" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="card-title fw-bolder">Titulo: {{lib.titulo}}</h5>
                        <h5 class="card-title fw-bolder">Editorial: {{lib.editorial.nombre}}</h5>
                        <h5 class="card-title fw-bolder">Tipo: {{lib.tipo.tipo}}</h5>
                        <!-- Product price-->
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" (click)="regresar()" >VOLVER</a></div>
                    <div style="padding-top: 8px;" class="text-center"><a class="btn btn-outline-dark mt-auto" (click)="addToCart(lib)">AÑADIR A CARRITO</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

